@import "variables";

.md-app {
  max-height: 100vh;
}

.md-container {
  margin-top: 20px !important;
  padding: 20px !important;
}

.md-content {
  //   border: 1px dotted green;
  margin-bottom: 40px !important;
}

.md-layout {
  //   border: 1px dotted red;
  margin-bottom: 0px !important;
}

.md-block {
  display: block !important;
}

.md-input {
  padding: 1rem 0.5rem !important;
}

.md-field {
  width: 100%;
  min-height: 48px;
  margin: 10px 0 !important;
  padding-top: 10px;
  display: flex;
  position: relative;
  font-family: inherit;
}

.md-dialog-container {
  border-radius: 0px !important;
}

.md-dialog-title {
  margin-bottom: 20px;
  padding: 24px 24px;
  font-weight: bold !important;
}

.md-subheading {
  margin: 0.5em 0;
  display: block;
}

.md-tooltip {
  // height: 48px;
  // line-height: 48px;
  // font-size: 16px !important;
  // padding: 0.5rem 0.5rem !important;
  background-color: #000000 !important;
}

// element ui

.el-submenu__title {
  font-size: 16px !important;
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  box-sizing: border-box;
}

.el-dropdown-menu__item,
.el-menu-item {
  font-size: 16px !important;
  padding: 0 20px;
  cursor: pointer;
  a,
  a:hover {
    text-decoration: none;
  }
}

