@import 'variables';

.md-container {
    padding: 20px !important;
}

.md-content {
    margin-bottom: 40px !important;
}

.md-block {
    display: block !important;
}

.md-input {
    padding: 0.5rem 0.5rem !important;
}

