@import 'variables';

.md-container {
    padding: 20px !important;
}

.md-content {
    margin-bottom: 40px !important;
}

.md-block {
    display: block !important;
}

.md-input {
    padding: 1rem 0.5rem !important;
}

.md-field {
    width: 100%;
    min-height: 48px;
    margin: 10px 0 !important;
    padding-top: 10px;
    display: flex;
    position: relative;
    font-family: inherit;
}
